# NetBeans specific #
nbproject
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Modules
node_modules/

# Text Files #
*.txt
*.log

# Other Files #
*.xls
*.xlsx
*.~*
test.js

# API keys #
**-key.json